@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400; 
  src: local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'),
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff');
}

 @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500; 
  src: local('Roboto-Medium'),
       url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'),
       url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff');
}

 @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'),
       url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff');
}

body {
  color: #000000;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: #eeeeee;
  min-height: 355px;
  padding-top: 50px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 140px;
  margin-right: 140px;
}

.site-navigation ul {
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 24px;
  list-style: none;
}

.basket-link::before {
  background-image: url('../img/cart-icon.svg');
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 15px;
  margin-right: 16px;
  width: 15px;
}

.nav-link {
  color: #000000;
  text-decoration: none;
}

.nav-link:hover {
  color: #fb565a;
}

.nav-link:active {
  color: #a6a6a6;
}

.develop-service {
  list-style: none;
}

.partner-logo {
  list-style: none;
}

.sort-item {
  display: inline;
  list-style: none;
  margin-right: 25px;
}

.sort-item a {
  text-decoration: none;
}

.slider {
  margin-left: 140px;
  margin-right: 140px;
}

.slide {
  display: flex;
  justify-content: space-between;
}

.slide-info {  
  width: 380px;
}

.slide-image {
  width: 760px;
  height: 420px;
  overflow: hidden;
}

.slider-link {
  background-color: #fb565a;
  width: 240px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}

.first-slide {
  background-image: url('../img/nerds-index-slide1.png');
  background-repeat: no-repeat;
}

.second-slide {
  background-image: url('../img/nerds-index-slide2.png');
  background-repeat: no-repeat;
}

.third-image {
  background-image: url('../img/nerds-index-slide3.png');
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  width: 630px;
}

.cart-icon {
  background-image: url('../img/cart-icon.svg');
  background-repeat: no-repeat;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.services {
  display: flex;
  justify-content: space-between;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.service {
  width: 300px;
}

.service-content h3 {
  line-height: 30px;
}

.about-section {
  padding-top: 80px;
  margin-left: 140px;
  margin-right: 140px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #eeeeee;
}

.company-description {
  width: 660px;
}

.accuracy-items {
  display: flex;
}

.accuracy-item {
  width: 100px;
}

.partners {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  margin-left: 140px;
  margin-right: 140px;
}

.main-footer {
  margin-top: 80px;
  margin-left: 140px;
  margin-right: 140px;
}

.contacts {
  width: 320px;
  min-height: 310px;
  background-color: #ffffff;
  margin-left: 140px;
}

.contacts a {
  text-decoration: none;
}

.feedback-link {
  display: block;
  width: 220px;
  min-height: 50px;
  background-color: #fb565a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.social-networks {
  min-height: 217px;
  display: flex;
  justify-content: center;
}

.social-link {
  align-items: center;
  background-color: #e1e1e1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 80px;
  margin-top: 100px;
  margin-right: 12px;
  width: 80px;
}

.social-link:nth-last-child() {
  margin-right: 0;
}

.social-link:hover {
  background-color: #e74246;
}

.social-link:active {
  background-color: #d7373b;
}

.social-link:active img {
  opacity: 0.3;
}

.order-link {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 160px;  
}

.order {
  color: #fff4f4;
  text-decoration: none;
}

.order:active {
  color: rgba(255, 244, 244, 0.3);
}

.site {
  background-color: #fb565a;
}

.site:hover {
  background-color: #e74246;
}

.site:active {
  background-color: #d7373b;
}

.app {
  background-color: #00ca74;
}

.app:hover {
  background-color: #00bc6c;
}

.app:active {
  background-color: #00aa62;
}

.presentation {
  background-color: #efc84a;
}

.presentation:active {
  background-color: #e5a722;
}

.presentation:hover {
  background-color: #eab534;
}

.order-link a {
  color: #ffffff;
}

.discount {
  display: inline-block;
  margin-top: 80px;
  margin-left: 140px;
}

.friendship {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 13px;
}

.catalog-header {
  font-size: 55px;
  font-weight: 500;
  text-align: center;
}

.input-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.filter-button {
  background-color: #eeeeee;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  text-transform: uppercase;
  text-align: center;
  width: 260px;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item {
  margin-bottom: 34px;
  position: relative;
}

.project-info {
  background-color: #eeeeee;
  bottom: 0;
  height: 231px;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 37px;
  margin-bottom: 28px;
  width: 200px;  
  margin-bottom: 0;
}

.project-title a {
  color: black;
}

.project-title a:hover {
  color: #fc8386;
}

.project-title a:active {
  color: #b2b2b2;
}

.project-description {
  color: #666666;
  text-align: center;
  width: 240px;
  line-height: 18px;
}

.project-price {
  align-items: center;
  background-color: #fb565a;
  color: #ffffff;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 200px;
}

.project-price:hover {
  background-color: #e74246;
}

.project-price:active {
  background-color: #d7373b;
}

.catalog {
  display: flex;
  justify-content: space-between;
  margin: 30px 140px 30px 140px;
}

.catalog-content {
  display: flex;
  flex-direction: column;
}

.pagination {
  padding-left: 20px;
}

.filter {
  width: 260px;
}

.catalog-sort {
  width: 760px;
}

.filter-item {
  margin-bottom: 50px;
}

.sort-items {
  display: flex;
  justify-content: space-between;
}

