@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400; 
  src: local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'),
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff');
}

 @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500; 
  src: local('Roboto-Medium'),
       url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'),
       url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff');
}

 @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'),
       url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff');
}

body {
  color: #000000;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #eeeeee;
  min-height: 355px;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.site-navigation ul {
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 24px;
  list-style: none;
}

.nav-link {
  color: #000000;
}

.nav-link:hover {
  color: #fb565a;
}

.nav-link:active {
  color: #a6a6a6;
}

.develop-service {
  list-style: none;
}

.partner-logo {
  list-style: none;
}

.sort {
  list-style: none;
}

.cart-icon {
  background-image: url('../img/cart-icon.svg');
  background-repeat: no-repeat;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.services {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.service-content h3 {
  line-height: 30px;
}

.social-networks {
  min-height: 217px;
  display: flex;
  margin-left: 140px;
}

.social-link {
  align-items: center;
  background-color: #e1e1e1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 80px;
  margin-top: 100px;
  margin-right: 12px;
  width: 80px;
}

.social-link:nth-last-child() {
  margin-right: 0;
}

.social-link:hover {
  background-color: #e74246;
}

.social-link:active {
  background-color: #d7373b;
}

.social-link:active img {
  opacity: 0.3;
}

.order-link {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 160px;  
}

.order {
  color: #fff4f4;
}

.order:active {
  color: rgba(255, 244, 244, 0.3);
}

.site {
  background-color: #fb565a;
}

.site:hover {
  background-color: #e74246;
}

.site:active {
  background-color: #d7373b;
}

.app {
  background-color: #00ca74;
}

.app:hover {
  background-color: #00bc6c;
}

.app:active {
  background-color: #00aa62;
}

.presentation {
  background-color: #efc84a;
}

.presentation:active {
  background-color: #e5a722;
}

.presentation:hover {
  background-color: #eab534;
}

.order-link a {
  color: #ffffff;
}

.discount {
  display: inline-block;
  margin-top: 80px;
  margin-left: 140px;
}

.friendship {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 13px;
}

.catalog-header {
  font-size: 55px;
  font-weight: 500;
  text-align: center;
}

.input-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.filter-button {
  background-color: #eeeeee;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  text-transform: uppercase;
  text-align: center;
  width: 260px;
  vertical-align: center;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-items {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.catalog-item {
  margin: 17px 20px;
  position: relative;
}

.project-info {
  background-color: #eeeeee;
  bottom: 0;
  height: 231px;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 37px;
  margin-bottom: 28px;
  width: 200px;  
  margin-bottom: 0;
}

.project-title a {
  color: black;
}

.project-title a:hover {
  color: #fc8386;
}

.project-title a:active {
  color: #b2b2b2;
}

.project-description {
  color: #666666;
  text-align: center;
  width: 240px;
  line-height: 18px;
}

.project-price {
  align-items: center;
  background-color: #fb565a;
  color: #ffffff;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 200px;
}

.project-price:hover {
  background-color: #e74246;
}

.project-price:active {
  background-color: #d7373b;
}

.catalog {
  display: flex;
  justify-content: space-around;
  margin: 30px 140px 30px 140px;
}

.filter-item {
  margin-bottom: 50px;
}
